.qr-container {
  background-color: white;
  padding: 0;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.qr-container .content {
  margin: 0 10px;
}

.banner-qr-container {
  align-items: center;
  text-align: center;
  overflow: hidden;
  max-height: 200px;
  width: 100%;
  -webkit-clip-path: polygon(100% 1%, 100% 52%, 66% 52%, 40% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 1%, 100% 52%, 66% 52%, 40% 100%, 0 100%, 0 0);
}

.banner-qr-container img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

.qr-title {
  margin: -40px 0 2rem;
  text-align: right;
}

.qr-text {
  color: black;
  margin: 2rem 10px;
}

.qr-text p {
  color: black;
  margin: 1rem 0;
}

.image-qr-container {
  text-align: center;
  margin-top: 6rem;
}
