{% extends 'logged_in_base.html.twig' %}

{% block title %}Bienvenue dans le lobby!
{% endblock %}

{% block content %}
	<div class="lobby-bg lobby">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 col-12">
					<div class="lobby-content">
						<h1>Bienvenue sur le compte de
							{{ user.company }}!
						</h1>
						<div class="lobby-container">
							<h3>A quel service voulez vous accéder ?</h3>
							<div class="lobby-content ms-5">
								<h6 class="mt-5">
									<a href="{{ path('ezreview') }}">
										<i class="fa-solid fa-ranking-star mx-2"></i>
										Easy review</a>
								</h6>
								<p>Une application pour faciliter les commentaires positifs sur Google</p>
								<h6 class="mt-5">
									<a href="{{ path('cam') }}">
										<i class="fa-solid fa-file-contract mx-2"></i>
										Customer Activity Managment</a>
								</h6>
										<p>Une application pour suivre l'intercation avec vos clients</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
