.row {
  position: relative;
  margin: 0 auto;
  width: 80%;
  /* margin-right: 0;
  margin-left: 0; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* margin-right: -30px; */
  /* margin-left: -30px; */
}

.col-half {
  padding: 0;
  /* flex: 0 0 45%; */
  max-width: 49%;
  position: relative;
  margin: 1.5rem 0rem;
}

@media screen and (max-width: 576px) {
  .col-half {
    max-width: 100%;
    margin: 0;
  }

  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .col-half {
    max-width: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 992px) {}
