{% extends 'ezreview_base.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-lg-12 co-12">
				<div class="form-container">
					<h3>Votre mail a bien été envoyé</h3>
					<div class="row">
						<div class="col-md-12 my-5">
							Nous tenons à vous remercier de votre retour et vous assurons qu'il sera pris en compte afin d'améliorer nos services.<br>
							Toute notre équipe vous souhaite une bonne journée.
						</div>
						<a href="https://www.google.com" class="btn btn-secondary btn w-3 my-2">Au revoir</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
