@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "~bootstrap/scss/bootstrap";


// @import "shared/variables";
@import "components/animate";
@import "components/bootstrap.min";
@import "components/glightbox.min";
@import "components/LineIcons.2.0";
@import "components/main";
@import "components/tiny-slider";
@import "components/upload";
@import "components/qrcode";
@import "scss/main";

body {
  background-color: rgb(241, 243, 255);
}

.footer {
  bottom: 0;
  padding-top: 6px;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 50px;
}

.form-container {
  margin: 220px auto;
  width: 50%;
}

label {
  margin-top: 1rem;
}

.bouton-container {
  display: flex;
  justify-content: space-around;
  margin: 5rem 30%;
}
