<div class="zIGF1d">
	<div jscontroller="AtSb" class="w7Dbne CR1S4b" data-record-click-time="false" id="tsuid_31" jsdata="zt2wNd;_;Ahhw7E V6f1Id;_;Ahhw7I" jsaction="rcuQ6b:npT2md;e3EWke:kN9HDb" data-hveid="CBMQAA">
		<div jsname="jXK9ad" class="uMdZh tIxNaf rllt__borderless" jsaction="mouseover:UI3Kjd;mouseleave:Tx5Rb">
			<div class="VkpGBb">

				<div class="cXedhc">

					<a class="vwVdIc wzN8Ac rllt__link a-no-hover-decoration" jsname="kj0dLd" data-cid="15360711191258384155" jsaction="click:h5M12e;" role="link" tabindex="0" data-ved="2ahUKEwiX0uL67Mv8AhWMFMAKHVc8BgoQvS56BAgTEAE">
						<div>
							<div class="rllt__details">
								<div class="dbg0pd" aria-level="3" role="heading">

									<span class="OSrXXb">Clinique du Parc - ELSAN</span>

								</div>
								<div>
									<span class="Y0A0hc">
										<span class="yi40Hd YrbPuc" aria-hidden="true">3,3</span>
										<span class="z3HNkc" aria-label="Note : 3,3 sur 5" role="img">
											<span style="width:48px"></span>
										</span>
										<span class="RDApEe YrbPuc">(350)</span>
									</span>

									&middot; Clinique chirurgicale</div>
								<div>9 bis Rue de la Piot &middot; 04 77 92 22 17</div>
								<div>Ouvert 24h/24</div>
							</div>
						</div>
					</a>

				</div>
