<!-- Start Hero Area -->

<section
	class="hero-area">
	<!-- Single Slider -->
	<div class="hero-inner">
		<div class="container">
			<div class="row ">
				<div class="col-lg-6 co-12">
					<div class="home-slider">
						<div class="hero-text">
							<h1 class="wow fadeInUp" data-wow-delay=".3">Développeur full-stack.</h1>
							<h3 class="wow fadeInUp" data-wow-delay=".5s">La maitrise de toute la chaine.</h3>
							<p class="fadeInUp my-3 text-justify" data-wow-delay=".6s">
								En tant que développeur full-stack, j'ai un savoir-faire dans la création de sites web modernes et performants. De la conception à la mise en production, j'utilise mes compétences en développement front-end pour créer des interfaces utilisateur fluides et intuitives.</p>
							<p>En parallèle, mes connaissances en back-end me permettent de créer des architectures robustes et évolutives.</p>
							<p class="fadeInUp my-3 text-justify" data-wow-delay=".6s">En somme, si vous cherchez un développeur full-stack compétent pour votre prochain projet, je suis votre homme. Contactez-moi dès aujourd'hui pour discuter de vos besoins et voir comment je peux vous aider à atteindre vos objectifs en ligne.</p>
							<p class="fadeInUp my-3 text-justify" data-wow-delay=".6s"></p>
							{# <div class="button wow fadeInUp" data-wow-delay=".7s"><a href="about-us.html" class="btn">Voir plus</a></div> #}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Single Slider -->
</section>
<!--/ End Hero Area -->
