<!-- Start Hero Area -->
<section
	class="hero-area">
	<!-- Single Slider -->
	<div class="hero-inner">
		<div class="container">
			<div class="row ">
				<div class="col-lg-6 co-12">
					<div class="home-slider">
						<div class="hero-text">
							<h1 class="wow fadeInUp" data-wow-delay=".3">Développeur full-stack.</h1>
							<h3 class="wow fadeInUp" data-wow-delay=".5s">La maitrise de toute la chaine.</h3>
							<p class="wow fadeInUp my-3" data-wow-delay=".5s">Après plus de 17 ans en tant que chargé de communication pour un groupe industriel, j'ai fait une reconversion professionnelle pour devenir développeur full-stack.</p>
							<p class="wow fadeInUp my-3" data-wow-delay=".5s">
								J'ai donc suivi une formation intensive au wagon de Lyon en 2021 sur les nouvelles technologies de développement. j’y ai acquis des notions générales sur le développement MVC (Model Vue Controller), le Front End, la manipulation des données en base, le travail en équipe etc...</p>
							<p class="wow fadeInUp my-3" data-wow-delay=".5s">
								Voici les principales matières que nous avons abordé lors de ce stage : HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku et Ruby on Rails.</p>
							<p class="wow fadeInUp my-3" data-wow-delay=".5s">J'y ai également appris à faire des maquettes d’applications avec FIGMA ce qui facilite grandement la communication avec le client final et permet de verrouiller le projet avant même de commencer à coder.</p>
							{# <div class="button wow fadeInUp" data-wow-delay=".7s"><a href="about-us.html" class="btn">Voir plus</a></div> #}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Single Slider -->
</section>
<!--/ End Hero Area -->
