<!-- Start Hero Area -->
<section
	class="hero-area">
	<!-- Single Slider -->
	<div class="hero-inner">
		<div class="container">
			<div class="row ">
				<div class="col-lg-6 co-12">
					<div class="home-slider">
						<div class="hero-text">
							<h1 class="wow fadeInUp" data-wow-delay=".3">Conception de sites à façon.</h1>
							<p class="wow fadeInUp" data-wow-delay=".5s">Pour un résultat à la hauteur
								<br>
								de votre ambition.</p>
							<div class="button wow fadeInUp" data-wow-delay=".7s">
								<a href="about-us.html" class="btn">Voir plus</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Single Slider -->
</section>
<!--/ End Hero Area -->
