{% for type, messages in app.flashes(['success', 'error', 'info']) %}
	{% for message in messages %}
		<div class="aknldge alert-{{ type }}" data="coucou" role="alert">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}
