<!-- Start Service Area -->
<section class="services section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div
					class="section-title align-left">
					{# <span class="fadeInDown" data-wow-delay=".2s">Core Features</span> #}
					<h1 class="fadeInUp" data-wow-delay=".4s">Permis de coder.</h1>
					<p class="fadeInUp my-3" data-wow-delay=".6s">
						Comme pour le permis de conduire, il faut, immédiatement après la formation, continuer à exercer nos acquis pour les intégrer pleinement.</p>
					<p class="fadeInUp my-3" data-wow-delay=".6s">
						Bien que ma formation se soit faite avec le langage Ruby et le framework "Ruby on rails", j'ai très vite été attiré par le framework "Symfony" en php. J'ai été seduit par la flexibilité de "Symfony" et le php est un langage beaucoup plus répandu chez les hébergeurs, et donc meilleur marché.</p>
					<p class="fadeInUp my-3" data-wow-delay=".6s">Pour ne pas perdre la main, j'ai continué à coder de mon côté tout en cherchant à intégrer une entreprise de développement web.</p>
					<p class="fadeInUp my-3" data-wow-delay=".6s">Depuis, je continue a me former afin d'augmenter mes compétences au lieu d'en perdre par manque de pratique.</p>
					<p class="fadeInUp my-3" data-wow-delay=".6s">Voici donc quelques une de mes réalisations fait en javascript ou avec symfony :</p>
					<p class="fadeInUp my-3" data-wow-delay=".6s"></p>
				</div>
			</div>
		</div>
		<div class="single-head">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-service wow fadeInUp" data-wow-delay=".2s">
						<h3>
							<a href="formation_js/beatmaker/index.html">Sampler musical</a>
						</h3>
						<div class="icon">
							<a href="formation_js/beatmaker/index.html">
								<i class="lni lni-volume-medium"></i>
							</a>
						</div>
						<p>Une petite application fait en javascript dans le cadre d'une formation en ligne.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-service wow fadeInUp" data-wow-delay=".4s">
						<h3>
							<a href="formation_js/colorsample/index.html">Gerez vos couleurs</a>
						</h3>
						<div class="icon">
							<a href="formation_js/colorsample/index.html">
								<i class="lni lni-pallet"></i>
							</a>
						</div>
						<p>Une autre application faite en javascript.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="single-service wow fadeInUp" data-wow-delay=".6s">
						<h3>
							<a href="http://shopdemo.usygec.fr">Un magasin complet</a>
						</h3>
						<div class="icon">
							<a href="http://shopdemo.usygec.fr">
								<i class="lni lni-cart-full"></i>
							</a>
						</div>
						<p>Réalisé avec Symfony, découvrez ce magasin et ses fonctionalitées</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
