{% extends 'logged_in_base.html.twig' %}

{% block title %}Création de client
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Création d'un nouveau client</h1>
		{{ include('companies/_form.html.twig') }}
	</div>
{% endblock %}
