{% extends 'logged_in_base.html.twig' %}

{% block title %}Changer le mot de passe
{% endblock %}

{% block body %}
	<div class="row de-flex justify-content-center mt-5">
		<div class="er-row col-12 col-sm-8 col-lg-5 rounded-lg mt-5 p-5">
			<h1>Changer le mot de passe de
				{{ userName }}</h1>

			{{ form_start(changeForm) }}
			{{ form_row(changeForm.plainPassword) }}
			<div class="row de-flex justify-content-center">
				<button class="btn btn-primary btn-sm w-25 mt-3">Changer</button>
			</div>
			{{ form_end(changeForm) }}
		</div>
	</div>
{% endblock %}
